/* =========================================
  Main styles 

  TABLE OF CONTENTS
    Classes for testing
    Base
    Typography
    Navigation
    Containers


========================================= */

@charset "UTF-8";
@import 'colors';
@import 'mixins';
@import 'media';
//@import 'bootstrap';
@import 'animate';

$font-stack: 'Roboto', Helvetica, sans-serif;

/* class for testing
------------------------------------------*/

.red { outline: 1px solid red; }
.blue { outline: 1px solid blue; }


.testing {
  display: flex;
  width: percentage(5/7);
  color: $card-white;
}

/* Base
------------------------------------------*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: $dark-grey;
}

body {
  font-family: $font-stack;
  padding-bottom: 40px;
}


a {
  color:$primary-color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}



/* Typography
------------------------------------------*/

h1,
h2,
h3,
h4 {
  color: $primary-color;
}



/* Navigation
------------------------------------------*/
/* nav bar button over-write*/

.navbar-default { /*line 4495*/
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 0px;
  border-color: transparent;
  border-style: solid;
  border-radius: 0px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f8f8f8;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $medium-grey;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  font-size: 2em;
  font-weight: 300;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #fff;
  color: $primary-color;
  text-decoration: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}


/* modal components
------------------------------------------*/

#btn-close-modal {
  width:100%;
  text-align: center;
  cursor:pointer;
  color: $primary-color;
}

#close-btn-container {
  position: relative;
  width: 100%;
  text-align: right;
  margin-top: 10px;
  padding-right: 10px;
}

.open-btn-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: right;
  margin-top: 10px;
  padding-right: 10px;

}

.modal-btn {
  //transition: all 0.2s;
  cursor: pointer;
}

/*.close-btn:hover {
  transform:rotate(90deg);
}*/

// bootstrap modal styles to over write
.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// edited
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 0px solid #fff;
  border: 0px solid rgba(0, 0, 0, .0);
  border-radius: 0px;
  outline: 0;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
          box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
            box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
   }
}







